.controls {
  order: 1;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.controls > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.captured {
  order: 2;
  flex-grow: 1;
}

.computer {
  flex-direction: column;
  order: 1;
  flex-grow: 1;
}

.buttons {
  order: 3;
  flex-grow: 1;
}