@keyframes waiting_icon {
    0%   { transform: rotateY(0deg); }
    100%   { transform: rotateY(180deg); }
  }
  
.waiting_icon {
  animation-name: waiting_icon;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.matchmaking {
  margin: 10px auto;
  flex-basis: auto;
  text-align: center;
}