.tile {
    position: absolute;
    z-index: 0;
}

.tile.dark {
    background-color: #769656;
}

.tile.light {
    background-color: #eeeed2;
}

.coordinate {
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
    font-size: 75%;
}

.tile.fogged {
}